$X_{aug}  =  \begin{bmatrix}
(1 & X) \\
(0 & \sqrt{\lambda} I)
\end{bmatrix}
$

$Y_{aug} = \begin{bmatrix}y \\
0
\end{bmatrix}
$

From Gauss we know the OLS estimate for the regression coefficients Beta are given by:

$\hat{B}_{OLS} = (X'X)^{-1}(X'y)$



Plug in the augmented X and Y into the OLS equation



If there is a reason to believe smaller coefficients near 0 are correct, or better in some sense.
Bias the estimated coefficients to small values near 0 through the penalty term. 
Regularization term is independent of the draw of data. 
Large reguarization will reduce the variance of our model at the cost of bias.
Suppose you have prior information about the true value of beta, and it is near 0. 
Adding large regularization will help make this possible.

$X'_{aug}X_{aug}  =\begin{bmatrix}
(1  &  X)'(1 & X) +  (0 & \lambda I) \end{bmatrix} $

$X'_{aug}y =  \begin{bmatrix}
(1 & X)y  + 0
\end{bmatrix}
$

$\hat{B}_{OLS} =\begin{bmatrix}
(1  &  X)'(1 & X) +  (0 & \lambda I) \end{bmatrix}^{-1} \begin{bmatrix}
(1 & X)y 
\end{bmatrix}
$

This is the ridge estimator for Beta with augmentation shown in ()

Q2a) Consider a patient with fever and no headache.

There are 0 such patients Pneumonia class.

There are 6 such patients in the Flu class.

There are 3 such patients in the "healthy" class. 

So the Prob(Pneumonia | fever and no headache)  =  0

Prob(Flu | fever and no headache)  =  6 / (0+6+3) = 6/9 = 2/3

Prob(Healthy | fever and no headache) = 3 / (0+6+3) = 3/9 = 1/3

So the Bayes Optimal Classifier will pick Flu with probability 2/3.

Q2b) Naive Bayes Classifier:

P(Pneumonia |  fever and no headache) = P(Pneumonia) * P(fever and no headache | Pneumonia) = 10/(10+20+70)*0 = 0

P(Flu |  fever and no headache) = P(Flu) * P(fever and no headache | Flu) = 20/100 * 6/20 = 6/100

P(None |  fever and no headache) = P(None) * P(fever and no headache | None) = 70/100 * 3/70 = 3/100


Normalized to:

P(Pneumonia) = 0

P(Flu) = 0.06 / (0.06+0.03) = 2/3

P(None) = 0.03 / (0.06+0.03) = 1/3

In [4]:
# check above work done by hand using sklearn
import pandas as pd
import numpy as np
from sklearn.naive_bayes import MultinomialNB
#MultinomialNB implements the naive Bayes algorithm for multinomially distributed data, classic naive Bayes 
#variants used in text classification (where the data are typically represented as word vector counts
clf = MultinomialNB(alpha=0)

line1 = [[1,0,0,0,1]]*5
line2 = [[0,1,0,0,1]]*0
line3 = [[0,0,1,0,1]]*4
line4 = [[0,0,0,1,1]]*1
lineP = line1+line2+line3+line4

line1 = [[1,0,0,0,2]]*9
line2 = [[0,1,0,0,2]]*6
line3 = [[0,0,1,0,2]]*3
line4 = [[0,0,0,1,2]]*2
lineF = line1+line2+line3+line4

line1 = [[1,0,0,0,3]]*2
line2 = [[0,1,0,0,3]]*3
line3 = [[0,0,1,0,3]]*7
line4 = [[0,0,0,1,3]]*58
lineN = line1+line2+line3+line4

df = pd.DataFrame(lineP+lineF+lineN)
X = df[[0,1,2,3]]
y = df[4]
clf.fit(X, y)
preds = clf.predict_proba(X)
preds = np.round(preds,3)
print(preds[20,:])
print(df.iloc[20])

[0.    0.667 0.333]
0    0
1    1
2    0
3    0
4    2
Name: 20, dtype: int64

/opt/anaconda3/lib/python3.8/site-packages/sklearn/naive_bayes.py:555: UserWarning: alpha too small will result in numeric errors, setting alpha = 1.0e-10
  warnings.warn(

Q3W. Naive Bayes for data with nominal attributes. Given the training data in the table below (Buy
Computer data), predict the class of the following new example using Naive Bayes classification:
age≤30, income=medium, student=yes, credit-rating=fair. Please show your work.

P(buys-computer | age≤30, income=medium, student=yes, credit-rating=fair) = (P(buys-computer) * P(age≤30 | buys-computer) * P(income=medium | buys-computer) * P(student=yes | buys-computer) * P(credit-rating=fair | buys-computer) ) / evidence

= ((9/14) * (2 / 9) * (4/9) * (6/9) * (6/9)) / evidence  

P(not-buys-computer | age≤30, income=medium, student=yes, credit-rating=fair) = ((5/14) * (3 / 5) * (2/5) * (1/5) * (2/5))  / evidence

evidence =  ((9/14) * (2 / 9) * (4/9) * (6/9) * (6/9))  + ((5/14) * (3 / 5) * (2/5) * (1/5) * (2/5))

NB(buy-computer, age≤30, income=medium, student=yes, credit-rating=fair) = ((9/14) * (2 / 9) * (4/9) * (6/9) * (6/9)) /  ((9/14) * (2 / 9) * (4/9) * (6/9) * (6/9))  + ((5/14) * (3 / 5) * (2/5) * (1/5) * (2/5)) =  0.8045 approximately

In [5]:
df = pd.DataFrame()
df['ID'] = list(range(1,15))
df['age'] = [1,1,2,3,3,3,2,1,1,3,1,2,2,3]
df['income'] = [3,3,3,2,1,1,1,2,1,2,2,2,3,2]
df['student'] = [0,0,0,0,1,1,1,0,1,1,1,0,1,0]
df['credit-rating'] = [0,1,0,0,0,1,1,0,0,0,1,1,0,1]
df['buys-computer'] = [0,0,1,1,1,0,1,0,1,1,1,1,1,0]
#df['age'] = df['age'].map(lambda x: abs(hash(str(x))))
df

    ID  age  income  student  credit-rating  buys-computer
0    1    1       3        0              0              0
1    2    1       3        0              1              0
2    3    2       3        0              0              1
3    4    3       2        0              0              1
4    5    3       1        1              0              1
5    6    3       1        1              1              0
6    7    2       1        1              1              1
7    8    1       2        0              0              0
8    9    1       1        1              0              1
9   10    3       2        1              0              1
10  11    1       2        1              1              1
11  12    2       2        0              1              1
12  13    2       3        1              0              1
13  14    3       2        0              1              0

In [6]:
df['age_I1'] = (df['age']==1).map(int)
df['age_I2'] = (df['age']==2).map(int)
df['age_I3'] = (df['age']==3).map(int)
#df['age_I1'] = 0 #
#df.loc[(df['age']==1),'age_I1'] = 5
#(df['age']==1).map(int)
#df['age_I1'] = df['age_I1'].map(df['age_I1'].value_counts())
#df['age_I1'] 

##df['age_I3'] = (df['age']==3).map(int)

#df['income_I2'] = 0 #
#df.loc[(df['income']==2),'income_I2'] = 6

df['income_I1'] = (df['income']==1).map(int)
df['income_I2'] = (df['income']==2).map(int)
df['income_I3'] = (df['income']==3).map(int)
#df.loc[df['student']==1,'student'] = 7
#df.loc[df['credit-rating']==0,'credit-rating'] = 8
#df.loc[df['credit-rating']==1,'credit-rating'] = 0
#for f in ['age','income','student','credit-rating']:
#    df[f] = df[f].map(df[f].value_counts())
df

,ID,age,income,student,credit-rating,buys-computer,age_I1,age_I2,age_I3,income_I1,income_I2,income_I3
0,1,1,3,0,0,0,1,0,0,0,0,1
1,2,1,3,0,1,0,1,0,0,0,0,1
2,3,2,3,0,0,1,0,1,0,0,0,1
3,4,3,2,0,0,1,0,0,1,0,1,0
4,5,3,1,1,0,1,0,0,1,1,0,0
5,6,3,1,1,1,0,0,0,1,1,0,0
6,7,2,1,1,1,1,0,1,0,1,0,0
7,8,1,2,0,0,0,1,0,0,0,1,0
8,9,1,1,1,0,1,1,0,0,1,0,0
9,10,3,2,1,0,1,0,0,1,0,1,0
10,11,1,2,1,1,1,1,0,0,0,1,0
11,12,2,2,0,1,1,0,1,0,0,1,0
12,13,2,3,1,0,1,0,1,0,0,0,1
13,14,3,2,0,1,0,0,0,1,0,1,0

In [7]:
from sklearn.naive_bayes import CategoricalNB #, BernoulliNB
#CategoricalNB assumes that the sample matrix  is encoded (for instance with the help of OrdinalEncoder)
#such that all categories for each feature  are represented with numbers
#where  is the number of available categories of feature .
#clf = BernoulliNB(alpha=0.0)
clf = CategoricalNB(alpha=0)
#clf = MultinomialNB(alpha=0)
X = df[['age','income','student','credit-rating']]
#X = df[['age_I1', 'age_I2','age_I3',
#        'income_I1','income_I2','income_I3',
#        'student','credit-rating']]
y = df['buys-computer']
clf.fit(X, y)
#preds = clf.predict_proba(np.array([1,0,0,0,1,0,1,0]).reshape(1, -1))
preds = clf.predict_proba(np.array([1,2,1,0]).reshape(1, -1))
preds = np.round(preds,3) #[[0.26 0.74]]
print(preds)

[[0.195 0.805]]

/opt/anaconda3/lib/python3.8/site-packages/sklearn/naive_bayes.py:555: UserWarning: alpha too small will result in numeric errors, setting alpha = 1.0e-10
  warnings.warn(
/opt/anaconda3/lib/python3.8/site-packages/sklearn/base.py:441: UserWarning: X does not have valid feature names, but CategoricalNB was fitted with feature names
  warnings.warn(